*.iml
.gradle
/currentPosition.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.DS_Store
/build
/app/build
/core/build
/domain/build
/data/build
/presentation/build
/feature/search/build
/feature/settings/build
/captures
/local.properties
/local-repo
/feature/main/build
