<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="wangdaye.com.geometricweather.settings.activities.SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/GeometricWeatherTheme"
            android:screenOrientation="user" />
        <activity
            android:name="wangdaye.com.geometricweather.settings.activities.CardDisplayManageActivity"
            android:label="@string/settings_title_card_display"
            android:theme="@style/GeometricWeatherTheme"
            android:screenOrientation="user" />
        <activity
            android:name="wangdaye.com.geometricweather.settings.activities.DailyTrendDisplayManageActivity"
            android:label="@string/settings_title_daily_trend_display"
            android:theme="@style/GeometricWeatherTheme"
            android:screenOrientation="user" />
        <activity
            android:name="wangdaye.com.geometricweather.settings.activities.HourlyTrendDisplayManageActivity"
            android:label="@string/settings_title_hourly_trend_display"
            android:theme="@style/GeometricWeatherTheme"
            android:screenOrientation="user" />
        <activity
            android:name="wangdaye.com.geometricweather.settings.activities.SelectProviderActivity"
            android:label="@string/settings_title_service_provider"
            android:theme="@style/GeometricWeatherTheme"
            android:screenOrientation="user" />
        <activity
            android:name="wangdaye.com.geometricweather.settings.activities.PreviewIconActivity"
            android:label="@string/action_preview"
            android:theme="@style/GeometricWeatherTheme" />
        <activity
            android:name="wangdaye.com.geometricweather.settings.activities.AboutActivity"
            android:label="@string/action_about"
            android:theme="@style/GeometricWeatherTheme"
            android:screenOrientation="user" />
    </application>
</manifest>
